.custom-marker-cluster {
  background: transparent !important; /* remove default blue bubble */
}

.cluster-custom {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #187cff;        /* bubble color */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: 3px solid white;
}

.cluster-custom span {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
